:root {
	--background-color: #111111;
    --text-color: #ffffff;
    --secondary-color: #53edff;
    --secondary-color-hover: #53eeffdb;
    --third-color: #838C8C;
    --paragraph-color: #c8c8c8;

    /* light mode colors */
    --lm-background-color: #ffffff;
    --lm-text-color: #111111;

    /* font sizes */
    --font-family: "Poppins", Arial, Helvetica, sans-serif;
}
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
	font-family: var(--font-family);
	background-color: var(--background-color);

}

img {
	width: 100%;
	height: auto;
	display: block;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
button:hover {
	cursor: pointer;
}
.size-6 {
    width: 40px;
    height: 40px;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* nav styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
    padding: 1rem 0;

}
.nav-content {
    background-color: rgba(17, 17, 17, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem 0.5rem;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    z-index: 999;
}
.nav-logo h2 {
    font-size: 1.8rem;
}
.toggle-button {
    background: none;
    border: none;
    color: var(--text-color);
}
nav ul {
    z-index: 999;
}
.nav-links a {
    display: block;
    text-align: center;
    color: var(--text-color);
    padding: 1rem 0;
}
.nav-links a:hover {
    color: var(--secondary-color);
    transition: color 0.2s ease;
}

.nav-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease;
}
.nav-links.show {
    max-height: 1000px;
    opacity: 1;
}

/* hero styles */
#home {
    scroll-margin-top: 15rem; /* Stays under navbar */
}
.hero {
    margin-top: 15rem;
}
.hero h1 {
    color: var(--third-color);
    font-size: 1.5rem;
    font-weight: 300;
}
.hero h2 {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}
.plus {
    color: var(--third-color);
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
}
#typing-text {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
}

/* projects styles */
#projects {
    scroll-margin-top: 130px; /* Stays under navbar */
}
.projects-container {
    margin-top: 40rem;
}
.project-card__media {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1rem;
}
.project-card__media img {
    border-radius: 15px;
}
.project-card__media p {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -5px;
}

.project-card__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3.1rem;
}
.project-card__details-number {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.project-card__details-number svg {
    height: 30px;
    width: 30px;
}

.project-card__details-description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 0.5rem;
}
.project-card__details-description h3 {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
}
.project-card__details-description p {
    color: var(--paragraph-color);
    font-size: 1rem;
    font-weight: 300;
}
.project-card__details-description a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--background-color);
    background-color: var(--secondary-color);
    padding: 1rem 2rem 1rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    width: fit-content; /* Makes it the width of the content it has */
    border-radius: 5px;
    margin-top: 0.5rem;
}
.project-card__details-description a:hover {
    background-color: var(--secondary-color-hover);
    transition: background-color 0.2s ease;
}
.project-card__details-description svg {
    height: 30px;
    width: 30px;
}

/* about styles */
#about {
    scroll-margin-top: 130px; /* Stays under navbar */
}
.about {
    margin-top: 12rem;
}
.about__details {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.about__details h3 {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
}
.about__details p {
    color: var(--paragraph-color);
    font-size: 1rem;
    font-weight: 300;
}
.about__details a {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1rem;
}
.about__details svg {
    height: 20px;
    width: 20px;
}
.about__details a:hover {
    color: var(--secondary-color-hover);
    transition: color 0.2s ease;
}

.about__media {
    /* border: 1px solid tomato; */
    margin-top: 4rem;
}
.about__media .caption {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.about__media .caption svg {
    height: 25px;
    width: 25px;
}
.about__media__image-text {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.about__media__image-text img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.about__media__image-text p {
    color: var(--text-color);
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 10px;
}

footer p {
    color: var(--text-color);
    text-align: center;
    font-weight: 200;
    font-size: 0.9rem;
    margin: 15rem 0 0 0;
}

/* Break points */
@media all and (min-width: 400px) {
    .project-card__media p {
        font-size: 3.5rem;
    }

    .about__media__image-text {
        justify-content: center;
    }
}

@media all and (min-width: 550px) {
    .project-card__media p {
        font-size: 4rem;
    }
}

@media all and (min-width: 700px) {
    .wrapper {
        padding: 0 2.5rem;
    }
    /* I want the nav links to extend for desktop */
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .toggle-button {
        display: none;
    }
    .nav-links {
        max-height: none;
        overflow: visible;
        display: flex;
        gap: 2rem;
    }
    .nav-links a {
        padding: 0;
    }

    .project-card__media p {
        font-size: 4rem;
    }

    .about__media__image-text img {
        width: 300px;
        height: 300px;
    }
    .about__media__image-text p {
        font-size: 5rem;
    }
}

@media all and (min-width: 900px) {
    .wrapper {
        padding: 0 3.5rem;
    }
    .hero h1 {
        font-size: 1.5rem;
    }
    .hero h2 {
        font-size: 3.5rem;
    }
    .plus {
        font-size: 3.5rem;
    }
    #typing-text {
        font-size: 3.5rem;
    }

    .project-card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }
    .project-card__media {
        width: 50%;
    }
    .project-card__details {
        width: 50%;
        margin-top: 0;
    }
    .project-card__media p {
        font-size: 3.5rem;
    }

    .project-card__details-description h3 {
        font-size: 2rem;
    }
    .project-card__details-description p {
        font-size: 1.2rem;
    }

    .about {
        display: flex;
        gap: 3rem;
    }
    .about__details h3 {
        font-size: 1.8rem;
    }
    .about__details p {
        font-size: 1.1rem;
    }
    .about__details a {
        font-size: 1.2;
    }
    .about__media .caption {
        font-size: 1.1rem;
        margin: 4rem 0 0 0;
    }
    .about__media__image-text img {
        width: 320px;
        height: 320px;
    }
    .about__media__image-text p {
        color: var(--text-color);
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 10px;
    }
}

@media all and (min-width: 1040px) {
    .wrapper {
        padding: 0 4rem;
    }
    .nav-logo h2 {
        font-size: 2rem;
    }
    .nav-links a {
        font-size: 1.1rem;
    }
    .hero h1 {
        font-size: 1.7rem;
    }
    .hero h2 {
        font-size: 3.7rem;
    }
    .plus {
        font-size: 3.7rem;
    }
    #typing-text {
        font-size: 3.7rem;
    }

    .project-card__media p {
        font-size: 3.7rem;
    }

    .project-card__details-description h3 {
        font-size: 2.2rem;
    }
    .project-card__details-description p {
        font-size: 1.4rem;
    }

    .about__details h3 {
        font-size: 2rem;
    }
    .about__details p {
        font-size: 1.2rem;
    }
    .about__details a {
        font-size: 1.3rem;
    }
    .about__media .caption {
        font-size: 1.2rem;
    }
    .about__media__image-text img {
        width: 320px;
        height: 320px;
    }
    .about__media__image-text p {
        font-size: 5.2rem;
    }
}